## Loading Libraries

In [1]:
!pip install sklearn

Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)

In [43]:
import pandas as pd
import statistics
from sklearn.neighbors import NearestCentroid, NearestNeighbors, KNeighborsClassifier
import numpy as np
import math

## Loading Data

In [3]:
df = pd.read_csv('/content/drive/MyDrive/gridshack22/clustered_data.csv')

In [4]:
df.head()

,nutrient_total_fat,nutrient_total_carb,nutrient_protein,nutrient_sat_fat,nutrient_cholesterol,nutrient_sodium,nutrient_fiber,nutrient_calcium,Calories,Score,nutrient_vitamin_a,Category,cluster
0,19.330000,70.970000,2.500000,11.9000,12.0,203.000000,1.0,76.000000,458.23,6.627,38.000000,100 GRAND Bar,7
1,12.750000,77.770000,2.600000,8.6460,5.0,194.000000,1.5,54.000000,427.10,6.517,20.000000,3 MUSKETEERS Bar,7
2,28.850000,63.150000,6.410000,19.2300,18.0,63.000000,0.0,150.000000,457.10,6.752,46.000000,3 Musketeers Truffle Crisp Bar,2
3,5.826667,11.586667,24.223333,0.9400,127.0,737.666667,0.2,52.666667,160.97,4.787,7.666667,Abalone,1
4,7.800000,8.520000,17.285000,2.5295,73.5,516.000000,0.3,16.500000,160.21,5.227,4.000000,Adobo,6

## Data Dictionaries

In [5]:
dct = {}
dct['diabetes_good'] = ['brown rice','oatmeal','quinoa','millet','sweet potato','vegetables','kale','spinach','arugula','fruits','beans','nuts','seeds','tofu','fish','seafood','chicken','eggs','low-fat dairy','1% milk','skim milk','low-fat yogurt','low-fat cottage cheese','low-fat sour cream','coffee']
dct['diabetes_bad'] = ['processed grains','white rice','white flour','cereals','white bread','french fries','fried food','canned food','pickles','jam','jelly','fruit punch','fruit drinks','fried meat','pork bacon','cheese','lard','deep fried','whole milk','yogurt','cottage cheese','ice cream','soda','chocolate','energy drinks']
dct['heart_good'] = ['nuts','beans','oats','fish','green vegetables','whole wheat','brown rice','rye','barley','buckwheat','quinoa','berries','avacados','walnuts','beans','dark chocolate','tomatoes','almonds','seeds','garlic','olive oil','edamame','green tea']
dct['heart_bad'] = ['sugar','salt','fat','bacon','red meat','soda','baked goods','processed meat','white rice','bread','pasta','pizza','alcohol','butter','yogurt','french fries','fried chicken','canned','ranch','ice cream','potato','chips']
dct['obesity_good'] = ['whole wheat','oats','brown rice','quinoa','vegetables','fruits','nuts','seeds','fish','olive oil','vegetable oil']
dct['obesity_bad'] = ['soda','fruit drinks','sport drinks','fruit juice','white bread','white rice','white pasta','sweets','potato','beef','pork','lamb','salami','ham','bacon','sausage','pizza','burger','french fries','pasta']
dct['skin_good'] = ['fish','avacados','walnuts','sunflower seeds','sweet potato','bell pepper','brocolli','tomato','soy','dark chocolate','green tea','grapes']
dct['skin_bad'] = ['doughnuts','soda','fried','alcohol','white rice','candy','chips','coffee','popcorn','processed meat','white bread','sauce','sweet','mayonnaise','enery drink']
dct['liver_good'] = ['coffee','tea','grapefruit','blueberries','cranberries','grapes','pear','beetroot','vegetable','nuts','fish','olive oil']
dct['liver_bad'] = ['sugar','soft drinks','baked','fizzy','soda','cola','aerated','alcohol','bread','pizza','burger','french fries','pasta','salt','pork','beef','bacon','ham']
dct['bp_good'] = ['fruits','salmon','fish','chard','pumpkin seed','beans','lentils','berries','amaranth','pistachios','carrot','celery','tomato','brocoli','yogurt','herbs','spices','chia seeds','flax seeds','beetroot','beet','spinach']
dct['bp_bad'] = ['salt','bread','pizza','sandwich','colt cut','cured meat','soup','burritos','tacos','deli meat','frozen','pickles','canned','sugar','processed','milk','cream','butter','pork','beef','bacon','skin','alcohol']

#3 Map data dictionaries to dataset

In [6]:
df['Category'] = df['Category'].str.lower()

In [7]:
df.head()

,nutrient_total_fat,nutrient_total_carb,nutrient_protein,nutrient_sat_fat,nutrient_cholesterol,nutrient_sodium,nutrient_fiber,nutrient_calcium,Calories,Score,nutrient_vitamin_a,Category,cluster
0,19.330000,70.970000,2.500000,11.9000,12.0,203.000000,1.0,76.000000,458.23,6.627,38.000000,100 grand bar,7
1,12.750000,77.770000,2.600000,8.6460,5.0,194.000000,1.5,54.000000,427.10,6.517,20.000000,3 musketeers bar,7
2,28.850000,63.150000,6.410000,19.2300,18.0,63.000000,0.0,150.000000,457.10,6.752,46.000000,3 musketeers truffle crisp bar,2
3,5.826667,11.586667,24.223333,0.9400,127.0,737.666667,0.2,52.666667,160.97,4.787,7.666667,abalone,1
4,7.800000,8.520000,17.285000,2.5295,73.5,516.000000,0.3,16.500000,160.21,5.227,4.000000,adobo,6

In [8]:
#food good for diabetes
dg = {}
for i in dct['diabetes_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      dg[df['Category'][j]] = df['cluster'][j]

In [9]:
#food bad for diabetes
db = {}
for i in dct['diabetes_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      db[df['Category'][j]] = df['cluster'][j]

In [10]:
#food good for heart
hg = {}
for i in dct['heart_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      hg[df['Category'][j]] = df['cluster'][j]

In [11]:
#food bad for heart
hb = {}
for i in dct['heart_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      hb[df['Category'][j]] = df['cluster'][j]

In [12]:
#food good for obesity
og = {}
for i in dct['obesity_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      og[df['Category'][j]] = df['cluster'][j]

In [13]:
#food bad for obesity
ob = {}
for i in dct['obesity_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      ob[df['Category'][j]] = df['cluster'][j]

In [14]:
#food good for skin
sg = {}
for i in dct['skin_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      sg[df['Category'][j]] = df['cluster'][j]

In [15]:
#food bad for skin
sb = {}
for i in dct['skin_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      sb[df['Category'][j]] = df['cluster'][j]

In [16]:
#food good for liver
lg = {}
for i in dct['liver_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      lg[df['Category'][j]] = df['cluster'][j]

In [17]:
#food good for liver
lb = {}
for i in dct['liver_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      lb[df['Category'][j]] = df['cluster'][j]

In [18]:
#food good for blood pressure
bg = {}
for i in dct['bp_good']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      bg[df['Category'][j]] = df['cluster'][j]

In [19]:
#food good for bad blood pressure
bb = {}
for i in dct['bp_bad']:
  for j in range(len(df['Category'].tolist())):
    if i in df['Category'][j]:
      bb[df['Category'][j]] = df['cluster'][j]

## Find clusters

In [20]:
def countX(lst, x):
    return lst.count(x)

In [21]:
dg_count = {}
for ele in list(dg.values()):
  dg_count[ele] = countX(list(dg.values()),ele)

In [22]:
dg_count

{0: 172, 1: 497, 2: 136, 3: 244, 4: 89, 5: 217, 6: 334, 7: 72, 8: 251, 9: 16}

In [23]:
db_count = {}
for ele in list(db.values()):
  db_count[ele] = countX(list(db.values()),ele)

In [24]:
hg_count = {}
for ele in list(hg.values()):
  hg_count[ele] = countX(list(hg.values()),ele)

In [25]:
hb_count = {}
for ele in list(hb.values()):
  hb_count[ele] = countX(list(hb.values()),ele)

In [26]:
og_count = {}
for ele in list(og.values()):
  og_count[ele] = countX(list(og.values()),ele)

In [27]:
ob_count = {}
for ele in list(ob.values()):
  ob_count[ele] = countX(list(ob.values()),ele)

In [28]:
sg_count = {}
for ele in list(sg.values()):
  sg_count[ele] = countX(list(sg.values()),ele)

In [29]:
sb_count = {}
for ele in list(sb.values()):
  sb_count[ele] = countX(list(sb.values()),ele)

In [30]:
lg_count = {}
for ele in list(lg.values()):
  lg_count[ele] = countX(list(lg.values()),ele)

In [31]:
lb_count = {}
for ele in list(lb.values()):
  lb_count[ele] = countX(list(lb.values()),ele)

In [32]:
bg_count = {}
for ele in list(bg.values()):
  bg_count[ele] = countX(list(bg.values()),ele)

In [33]:
bb_count = {}
for ele in list(bb.values()):
  bb_count[ele] = countX(list(bb.values()),ele)

## Recommendation

In [35]:
#inputs

desired_food = "pizza"
health_condition = "diabetes"
good_food = dg_count
bad_food = db_count

In [34]:
def get_key(dct, val):
    for key, value in dct.items():
         if val == value:
             return key

In [36]:
target_cluster = int(df[df['Category']==desired_food]['cluster'])

In [53]:
test_point = df[df['Category']==desired_food].drop(columns=['Category','cluster'])

In [37]:
good_cluster = get_key(good_food,max(list(good_food.values())))

In [38]:
bad_cluster = get_key(bad_food,max(list(bad_food.values())))

In [39]:
target_data = df[df['cluster']==target_cluster]
good_data = df[df['cluster']==good_cluster]
bad_data = df[df['cluster']==bad_cluster]

In [40]:
target_centroid = target_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()
good_centroid = good_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()
bad_centroid = bad_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()

In [48]:
distance_from_good = np.linalg.norm(good_centroid - target_centroid)
distance_from_bad = np.linalg.norm(bad_centroid - target_centroid)

In [49]:
distance_from_good, distance_from_bad

(968.0064563250023, 0.0)

In [50]:
good_knn_model = NearestNeighbors(n_neighbors=5).fit(good_data.drop(columns=['Category','cluster']))

In [54]:
good_nearest_neighbors = good_knn_model.kneighbors(test_point, n_neighbors=5, return_distance=False)[0].tolist()

In [62]:
items = good_data.iloc[good_nearest_neighbors]['Category'].tolist()

In [63]:
items

['soft taco with beans',
 "gardien bratwurst ultimate plant based saus'ge links, bratwurst",
 'boulder organic! green chile corn chowder',
 'scallops with cheese sauce',
 'good & gather plant based italian style meatless sausage, italian style']

## Final Data and Function

In [78]:
#data
dg_count = {0: 172, 1: 497, 2: 136, 3: 244, 4: 89, 5: 217, 6: 334, 7: 72, 8: 251, 9: 16}
db_count = {0: 3, 1: 26, 2: 31, 3: 5, 4: 16, 5: 19, 6: 66, 7: 24, 8: 34, 9: 16}
hg_count = {0: 146, 1: 331, 2: 111, 3: 197, 4: 35, 5: 286, 6: 157, 7: 80, 8: 166, 9: 10}
hb_count = {0: 50, 1: 89, 2: 46, 3: 49, 4: 32, 5: 59, 6: 146, 7: 67, 8: 76, 9: 23}
og_count = {0: 19, 1: 50, 2: 44, 3: 20, 4: 20, 5: 14, 6: 130, 7: 30, 8: 34, 9: 7}
ob_count = {0: 79, 1: 215, 2: 59, 3: 77, 4: 53, 5: 73, 6: 308, 7: 32, 8: 153, 9: 16}
sg_count = {0: 120, 1: 265, 2: 55, 3: 67, 4: 38, 5: 170, 6: 107, 7: 69, 8: 98, 9: 6}
sb_count = {0: 34, 1: 211, 2: 94, 3: 78, 4: 34, 5: 85, 6: 175, 7: 41, 8: 110, 9: 18}
lg_count = {0: 59, 1: 124, 2: 126, 3: 39, 4: 47, 5: 24, 6: 163, 7: 38, 8: 78, 9: 41}
lb_count = {0: 90, 1: 207, 2: 53, 3: 76, 4: 30, 5: 77, 6: 259, 7: 51, 8: 136, 9: 15}
bg_count = {0: 189, 1: 470, 2: 116, 3: 252, 4: 67, 5: 332, 6: 227, 7: 113, 8: 249, 9: 20}
bb_count = {0: 175, 1: 515, 2: 82, 3: 201, 4: 60, 5: 126, 6: 362, 7: 61, 8: 316, 9: 30}

##Health Conditions

*   Diabetes
*   Heart Disease
*   Obesity
*   Skin Problems
*   Liver Damage
*   Blood Pressure

In [79]:
def get_key(dct, val):
    for key, value in dct.items():
         if val == value:
             return key

In [ ]:
def recommendation(desired_food,health_condition):
  if health_condition=='Diabetes':
    good_food = dg_count
    bad_food = db_count
  if health_condition=='Heart Disease':
    good_food = hg_count
    bad_food = hb_count
  if health_condition=='Obesity':
    good_food = og_count
    bad_food = ob_count
  if health_condition=='Skin Problems':
    good_food = sg_count
    bad_food = sb_count
  if health_condition=='Liver Damage':
    good_food = lg_count
    bad_food = lb_count
  if health_condition=='Blood Pressure':
    good_food = bg_count
    bad_food = bb_count
  target_cluster = int(df[df['Category']==desired_food]['cluster'])
  test_point = df[df['Category']==desired_food].drop(columns=['Category','cluster'])
  good_cluster = get_key(good_food,max(list(good_food.values())))
  bad_cluster = get_key(bad_food,max(list(bad_food.values())))
  target_data = df[df['cluster']==target_cluster]
  good_data = df[df['cluster']==good_cluster]
  bad_data = df[df['cluster']==bad_cluster]
  target_centroid = target_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()
  good_centroid = good_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()
  bad_centroid = bad_data.drop(columns=['Category', 'cluster']).mean(axis=0).to_numpy()
  distance_from_good = np.linalg.norm(good_centroid - target_centroid)
  distance_from_bad = np.linalg.norm(bad_centroid - target_centroid)
  good_knn_model = NearestNeighbors(n_neighbors=5).fit(good_data.drop(columns=['Category','cluster']))
  good_nearest_neighbors = good_knn_model.kneighbors(test_point, n_neighbors=5, return_distance=False)[0].tolist()
  items = good_data.iloc[good_nearest_neighbors]['Category'].tolist()
  return distance_from_good, distance_from_bad, items